@page "/releases"
@inject IStringLocalizer<Index> L

<PageTitle>@L["Releases"]</PageTitle>

<h1>@L["Releases by staerf"]</h1>
<h2>
    @L["All songs"]:
</h2>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 m-2">

    @foreach (var song in GetSongs().OrderBy(s => s.Name))
    {
        <div class="card m-2">

            @* <img class="card-item"
                src="https://t2.genius.com/unsafe/88x88/https%3A%2F%2Fimages.genius.com%2F6f4c5fb78a5f8c7e20d9b1f13ccc9076.1000x1000x1.jpg"> *@
            <div class="text-2xl font-semibold px-2 text-fg-1 dark:text-fg-1-dark">
                @song.Name
            </div>
            <div class="card-body">
                <div class="card-item">
                    @* @if(song.Artists.Count() > 1)
                    {
                        <span>@L["Artists"]:</span>
                    }
                    else
                    {
                        <span>@L["Artist"]:</span>
                    } *@
                    <div class="">
                        @foreach(var artist in song.Artists)
                        {
                            <a 
                                class="link text-purple dark:text-purple-dark pe-1"
                                href="person/@artist.PersonId">
                                @artist.Name
                            </a>
                        }
                    </div>
                </div>
                <div class="card-item">
                        @L["Release date"]: 
                    <span class="text-orange dark:text-orange-dark font-mono">
                    @DateTime.Now.AddDays(2).ToShortDateString()
                    </span>
                </div>
                @if (!string.IsNullOrWhiteSpace(song.StolenFrom))
                {
                    <div class="card-item">
                            @L["Stolen from"]:
                        <a 
                            class="link text-aqua-dim dark:text-aqua-dim-dark"
                            href="release/">
                        @song.StolenFrom
                        </a>
                    </div>
                }
            </div>
            <a class="button button-primary-outline" href="release/1488">
                @L["Details"]
            </a>
        </div>
    }
</div>
@code {
    static Artist _staerf = new("Staerf", "staerf");
    static Artist _otets = new("OTETS", "otets");
    static Artist _s = new("C...", "s");
    static Artist _via = new("ВИА Гра", "viagra");
    Song[] GetSongs() =>
    [
    new Song("Alien",[_staerf], "Alexandra Stan - Mr. Saxobeat"),
new Song("Depth",[_staerf, _otets], ""),
new Song("Drift", [_staerf], ""),
new Song("Deo",[_staerf], "ВИА Гра - Моя попытка №5"),
new Song("Money",[_s]),
new Song("Моя попытка №5",[_via]),
];
}
